@model CWB.Identity.ViewModels.ChangePasswordViewModel

<div class="login-page">

    <partial name="_ValidationSummary" />

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Change Password</h2>
                </div>

                <div class="card-body">
                    <form asp-route="ChangePassword">
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="CurrentPassword"></label>
                            <input type="password" class="form-control" placeholder="Current Password" asp-for="CurrentPassword" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="NewPassword"></label>
                            <input type="password" class="form-control" placeholder="New Password" asp-for="NewPassword" autocomplete="off">
                        </div>
                        <div class="form-group">
                            <label asp-for="ConfirmPassword"></label>
                            <input type="password" class="form-control" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off">
                        </div>
                        <button class="btn btn-primary" name="button" value="Register">Save</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                    </form>
                </div>
                <div class="card-footer">
                    <a href="@Url.Action("Back",new {Model.ReturnUrl })">Login</a>
                </div>
            </div>
        </div>


    </div>
</div>