@model CWB.Identity.ViewModels.ForgotPasswordViewModel

<div class="login-page">

    <partial name="_ValidationSummary" />

    <div class="row">

        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h2>Forgot Password</h2>
                </div>

                <div class="card-body">
                    <form asp-route="ChangePassword">
                        <div class="form-group">
                            <label asp-for="EmailUserName"></label>
                            <input type="text" class="form-control" placeholder="Username or Email Address" asp-for="EmailUserName">
                        </div>
                        <button class="btn btn-primary" name="button" value="Register">Save</button>
                        <button class="btn btn-secondary" name="button" value="cancel">Cancel</button>
                    </form>
                </div>

            </div>
        </div>


    </div>
</div>