<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Off"
      internalLogFile="file:///\\wsl.localhost\docker-desktop-data\data\docker\image\overlay2\imagedb\content\cwbapp_internallog_${shortdate}.log">
	<targets>
		<target xsi:type="File" name="allfile"
				fileName="file:///\\wsl.localhost\docker-desktop-data\data\docker\image\overlay2\imagedb\content\cwbapp_log_${shortdate}.log"
				layout="${longdate} ${level:uppercase=true} ${message} ${exception:format=tostring}"/>

		<!--Console Target for hosting lifetime messages to improve Docker / Visual Studio startup detection -->
		<target xsi:type="Console" name="lifetimeConsole" layout="${MicrosoftConsoleLayout}" />

	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="allfile" />
		<!--Output hosting lifetime messages to console target for faster startup detection -->
		<logger name="Microsoft.Hosting.Lifetime" minlevel="Info" writeTo="lifetimeConsole" final="true" />

		<!--Skip non-critical Microsoft logs and so log only own logs (BlackHole) -->
		<logger name="Microsoft.*" maxlevel="Info" final="true" />
		<logger name="System.Net.Http.*" maxlevel="Info" final="true" />
	</rules>
</nlog>