<div class="tab-pane" id="machine-pm-schedule">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-sm btn-light btn-machine-tab-nav machine-tab-withdata disabled" data-targettab="machine-maintenance-info"><i class="fas fa-arrow-left"></i></button>
        </div>
    </div>
</div>