<div class="tab-pane" id="machine-maintenance-info">
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-sm btn-light btn-machine-tab-nav machine-tab-withdata disabled" data-targettab="machine-cost-details"><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-md-6 text-end">
            <button class="btn btn-sm btn-warning btn-machine-tab-nav machine-tab-withdata disabled" data-targettab="machine-pm-schedule"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
</div>