<div class="tab-pane" id="machine-cost-details">

    <div class="row mt-3">
        <div class="col-md-6">
            <button class="btn btn-sm btn-light btn-machine-tab-nav machine-tab-withdata disabled" data-targettab="machine-process-doc"><i class="fas fa-arrow-left"></i></button>
        </div>
        <div class="col-md-6 text-end">
            <button class="btn btn-sm btn-warning btn-machine-tab-nav machine-tab-withdata disabled" data-targettab="machine-maintenance-info"><i class="fas fa-arrow-right"></i></button>
        </div>
    </div>
    <!-- -----------------  -->
</div>