<table class="table table-sm w-100 p-0 m-0 vam">
    <tbody>
        <tr>
            <td>
                <h4>Add Machine Details</h4>
            </td>
            <td class="machine-header-info invisible">
                <span class="h6">Plant :</span> <span id="machine-info-plant"></span>
            </td>
            <td class="machine-header-info invisible">
                <span class="h6">Shop :</span>  <span id="machine-info-department"></span>
            </td>
            <td class="machine-header-info invisible">
                <span class="h6">Machine :</span> <span id="machine-info-machine"></span>
            </td>
            <td class="machine-header-info invisible">
                <span class="h6">SL No :</span> <span id="machine-info-slno"></span>
            </td>
            <td>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" title="Close & Return to Previous Screen / Menu Item" data-plugin="tippy" data-tippy-placement="top"></button>
            </td>
        </tr>
    </tbody>
</table>