<div class="modal fade" id="dialog-AddRMStandard" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">Raw Material Standard</h4>
                <button type="button" class="btn-close" id="btn-close-AddStandard" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <form method="post" onsubmit="return false;" id="StandardForm">
                        <div class="row">
                            <label class="form-label col-md-4 mb-2">Name</label>
                            <div class="col-md-8 mb-2">
                                <input id="StandardName" name="Name" type="text" class="form-control form-control-sm" placeholder="Enter here" required />
                            </div>
                            <input type="text" hidden value="0" id="DStandard" name="Standard" />
                            <!-- ========================= -->
                            <div class="col text-end">
                                <button class="btn btn-sm btn-primary" id="btnAddRMStandard" onclick="AddRMStandard();">Save</button>
                            </div>
                        </div>
                        <!-- ========================= -->
                    </form>
                </div>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->