<div class="modal fade" id="Delivery-Schedule" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content bxs-modal">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Delivery Schedule List for : <span class="text-danger" id="PartNoToSchedule"></span></h5>
                <button type="button" id="BtnAddScheduleClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-5 dott-bord-r">
                        <div class="row">
                            <form id="DeliveryScheduleForm" onsubmit="return false;">
                            <label class="form-label col-md-4 mb-2">
                                Reqd Date <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-8 mb-2">
                                    <input id="RequiredByDate" name="RequiredByDate" class="form-control form-control-sm" type="date" title="" data-plugin="tippy"
                                       data-tippy-placement="top">
                            </div>
                            <!-- ========================= -->
                            <label class="form-label col-md-4 mb-2">
                                Reqd Quantity <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-8 mb-2">
                                    <input id="RequiredQuantity" name="RequiredQuantity" class="form-control form-control-sm" type="text" title="" data-plugin="tippy"
                                      value="0" data-tippy-placement="top" placeholder="Enter Reqd Quantity"/>
                            </div>
                            <!-- ========================= -->
                            <label class="form-label col-md-4 mb-2">
                                Comment <span class="text-danger">*</span>
                            </label>
                            <div class="col-md-8 mb-2">
                                <textarea id="DSComment" name="Comment" class="form-control form-control-sm" placeholder="Enter Comment" value="-"></textarea>
                            </div>
                                <input type="text" hidden id="DSPartId" name="DSPartId" value="0" />
                                <input type="text" hidden id="DSPartNo" name="DSPartNo" value="0" />
                                
                                <input type="text" hidden id="ScheduleId" name="ScheduleId" value="0"/>
                                <input type="text" hidden id="SalesCustomerOrderId" name="CustomerOrderId" value="0" />
                            <!-- ========================= -->
                            <div class="col-md-12 text-end">
                                <button id="BtnAddSchedule" class="btn btn-sm btn-primary ">Add</button>
                            </div>
                            <!-- ========================= -->
                            </form>
                        </div>
                    </div>
                    <!-- ===========  -->
                    <div class="col-md-7">
                        <div class="table-responsive table-he-180">
                            <table id="DeliverySchedules" class="table table-sm table-bordered w-100 text-center">
                                <thead class="  table-info th-sti">
                                    <tr class="table-border-bottom">
                                        <th>Date</th>
                                        <th>Quantity</th>
                                        <th width="2%"></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!--DeliverScheduleRow(s)-->
                                </tbody>
                            </table>
                        </div>
                    </div>
                    @*<div>
                        <a asp-action="WO" asp-controller="BusinessAquisition"> WO </a>
                    </div>*@
                    <!-- ===============  -->
                </div>
            </div>
        </div>
    </div>
</div>

<template id="DeliverScheduleRow">
    <tr>
        <td>{requiredByDateStr}</td>
        <td>{requiredQuantity}</td>
        <td>
            <div class="dropdown float-center">
                <a href="#" class="dropdown-toggle arrow-none card-drop"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a href="javascript:void(0);" onclick="SetScheduleEditVals({scheduleId},'{requiredByDateStr}'
                       ,{requiredQuantity},'{customerOrderId}','{comment}',{dsPartId});"
                    class="dropdown-item">Edit</a>
                    <a href="javascript:void(0);" onclick="RemoveDeliverySchedule({scheduleId});" class="dropdown-item">Delete</a>
                </div>
            </div>
        </td>
    </tr>
</template>