<div class="modal fade" id="po-resume" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
     aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content bxs-modal">
            <form id="poresumeform" onclick="return false;">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">Comment for PO Release from Hold *</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                    <textarea id="PORComment" name="Comment" class="form-control" placeholder="Enter Comments"></textarea>
            </div>
                <input type="text" hidden id="POLogId" name="POLogId" value="0" />
                <input type="text" hidden id="PORCustomerOrderId" name="CustomerOrderId" value="0" />
                <input type="text" hidden id="PORSalesOrderId" name="SalesOrderId" value="0" />
                <input type="text" hidden id="PORUser" name="User" value="Delete" />
                <input type="text" hidden id="PORNewValue" name="NewValue" value="0" />
                <input type="text" hidden id="POROldValue" name="OldValue" value="0" />
                <input type="text" hidden id="POREvent" name="Event" value="Delete" />
                <input type="text" hidden id="PORPartId" name="PartId" value="0" />
            <div class="modal-footer">
                    <button id="BtnPOResume" type="button" class="btn btn-primary btn-sm">Save</button>
            </div>
            </form>
        </div>
    </div>
</div>