@model CWB.App.Models.Contacts.CompanyVM
<div class="modal fade" id="dialog-company" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myLargeModalLabel">Add New Supplier </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col dott-bord-r">
                        <form id="frmCompany" method="post">
                            <div class="row">
                                <label class="form-label col-md-4 mb-2" asp-for="CompanyType"></label>
                                <div class="col-md-8 mb-2" title="Select if the Company is a Customer or Supplier or Both" data-plugin="tippy" data-tippy-placement="top">
                                    <select class="form-select form-select-sm" asp-for="CompanyType" asp-items="ViewBag.CompanyTypes">
                                        <option value="">--Select--</option>
                                    </select>
                                    <span asp-validation-for="CompanyType"></span>
                                </div>
                                <!-- ============== -->
                                <label class=" col-md-4 form-label mb-2" asp-for="CompanyName"></label>
                                <div class="col-md-8 mb-2" title="Enter Company Name" data-plugin="tippy" data-tippy-placement="top">
                                    <input class="form-control form-control-sm" type="text" placeholder="Enter here" asp-for="CompanyName" />
                                    <span asp-validation-for="CompanyName"></span>
                                </div>
                                <!-- ============== -->
                                <label class=" col-md-4 form-label mb-2" asp-for="DivisionName"></label>
                                <div class="col-md-8 mb-2" title="Enter the Company Division or Plant if applicable. If it is the Main Plant / Division / HQ enter Main" data-plugin="tippy" data-tippy-placement="top">
                                    <input class="form-control form-control-sm" type="text" placeholder="Enter here" asp-for="DivisionName" />
                                    <span asp-validation-for="DivisionName"></span>
                                </div>
                                <!-- ============== -->
                                <label class=" col-md-4 form-label mb-2" asp-for="Location"></label>
                                <div class="col-md-8 mb-2" title="Enter the Company Location ... City, Country ..." data-plugin="tippy" data-tippy-placement="top">
                                    <input class="form-control form-control-sm" type="text" placeholder="Enter here" asp-for="Location" />
                                    <span asp-validation-for="Location"></span>
                                </div>
                                <!-- ============== -->
                                <label class=" col-md-4 form-label mb-2" asp-for="Notes">Notes</label>
                                <div class="col-md-8 mb-2" title="Enter any relevant Notes about the company" data-plugin="tippy" data-tippy-placement="top">
                                    <textarea class="form-control form-control-sm" asp-for="Notes"></textarea>
                                    <span asp-validation-for="Notes"></span>
                                </div>
                                <!-- ============== -->
                                <div class="col text-end mt-2">
                                    <input type="button" class="btn btn-sm btn-primary" title="Use to Save the entered data"
                                           data-plugin="tippy" data-tippy-placement="top" value="Save" id="btnContactSubmit" />
                                    <input type="button" class="btn btn-sm btn-primary" title="Use to Close the dialog"
                                           data-plugin="tippy" data-tippy-placement="top" value="Close" id="btnContactClose" />

                                </div>
                            </div>
                            <input type="hidden" asp-for="CompanyId" />
                            <input type="hidden" asp-for="DivisionId" />
                        </form>
                    </div>
                    <!-- ============== -->
                </div>
                <!-- ------- -->
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>