<div class="modal fade" id="edit-routingname" role="dialog" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog ">
        <div class="modal-content bxs-modal">
            <div class="modal-header">
                <h4 class="modal-title" id="mySmallModalLabel">
                    Rename Routing
                </h4>
                <button id="BtnEdRoutingNameClose" type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="FormEdRoutingName" onsubmit="return false;">
                    <div class="row">
                        <label class="form-label col-md-6 mb-2">Current Routing name </label>
                        <div class="col-md-6 mb-1">
                            <input class="form-control form-control-sm" id="CuurentRoutingName"  type="text" title="Enter the Routing Name ... It has to be Unique" data-plugin="tippy" data-tippy-placement="top" readonly>
                            
                            <input type="text" hidden id="EdManufacturedPartId" name="ManufacturedPartId" value="0" />
                            <input type="text" hidden id="EdOrigRoutingId" name="OrigRoutingId" value="0" />
                            <input type="text" hidden id="EdStatus" name="Status" value="Active" />
                            <input type="text" hidden id="EdPreferredRouting" name="PreferredRouting" value="0" />
                            <input type="text" hidden id="EdRoutingId" name="RoutingId" value="0" />
                            <input type="text" hidden id="EdMKPartId" name="MKPartId" value="0" />
                        </div>
                        <label class="form-label col-md-6 mb-2">New Routing Name <span class="text-danger" id="RoutingToEdit"></span></label>
                        <div class="col-md-6 mb-1">
                            <input class="form-control form-control-sm" id="EdRoutingName" name="RoutingName" type="text" title="Enter the Routing Name ... It has to be Unique" data-plugin="tippy" data-tippy-placement="top">
                        </div>
                        <!-- =========  -->
                        <div class="col text-end mt-2">
                            <button hidden type="button" id="CancelEdRoutingName" class="btn btn-sm btn-primary" data-plugin="tippy" data-tippy-placement="top">Cancel</button>
                            <button id="BtnEdRoutingNameSave" type="button" class="btn btn-sm btn-primary">Save</button>
                        </div>
                        <!-- =========  -->
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
