<!--Depends on partial _ManuF_Templates included in parent page-->
@model CWB.App.Models.ItemMaster.MPMakeFromVM
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-sm">
                    <tbody>
                        <tr>
                            <td>
                                <span class="h6">
                                    Raw Material List for <label id="lblPartNumber"></label> / <label id="lblPartDescription"></label>
                                    for <label id="lblCompanyName"></label>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- ========= -->
        <label class="form-label col-md-1">Part is made from <span class="text-danger">*</span></label>
        <div class="col-md-3 mb-2">
            <select class="form-select form-select-sm" name="MPPartMadeFrom" id="MPPartMadeFrom">
                <option value="0">Choose from Drop down</option>
                <option value="1">Customer Supplied Raw Material</option>
                <option value="2">Own Raw Material</option>
                <option value="3">Other Manufactured Part</option>
            </select>
        </div>
        <!-- ===========================  -->
        <div class="col-md-3 mb-2">
            <button class="btn btn-sm btn-primary" id="AddInputPart">Add Input Part *</button> <!--data-bs-toggle="modal" data-bs-target="#inputpart"-->
        </div>
        <!-- ========= -->
        <div class="col-md-12">
            <div class="table-responsive table-he-250">
                <table class="table table-sm table-bordered tableFixHead w-100" id="tbl-MakeFromRM">
                    <thead class="table-info th-sti text-center">
                        <tr class="table-border-bottom">
                            <th>Pref.</th>
                            <th>Input Part No / Desc</th>
                            <th>Part Made from</th>
                            <th>Input Wt (kgs)</th>
                            <th>Qnty per RM</th>
                            <th width="5%"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr style="text-align: center;">
                            <td><input type="radio" class="form-check-input" name="pref"></td>
                            <td>xxxx / xxxx</td>
                            <td></td>
                            <td>xxx</td>
                            <td>1</td>
                            <td>
                                <div class="dropdown float-center">
                                    <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></a>
                                    <div class="dropdown-menu dropdown-menu-end">
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">View</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Edit</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item">Delete</a>
                                        <!-- item-->
                                        <a href="javascript:void(0);" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#setPreferred">
                                            Set
                                            Preferred Input Matl
                                        </a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <!-- ---------- -->
                        <!-- ---------- -->
                    </tbody>
                </table>
            </div>
            <!-- =========== -->
            <!-- =========== -->
        </div>
        <!-- ------- -->
        <!-- ========= -->
    </div>

    <div class="modal fade" id="setPreferredPopUp" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content bxs-modal">
                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">Set Preferred Input Matl</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" id="btnPreferredInputClose"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <!-- ========================= -->
                        <div class="col-md-10">
                            Set Part / Desc <span id="InputDesc" style="font-weight:bold"></span> as Preferred Input Matl for
                            <span id="MainPartSpan" style="font-weight:bold"></span> / <span id="MainDescSpan" style="font-weight:bold"></span>
                        </div>
                        <!-- ========================= -->
                        <div class="col-md-2">
                            <input type="checkbox" id="SetPreferedChkBox">
                            <input type="text" id="SetPreferedMKId" hidden>
                        </div>
                        <!-- ========================= -->
                    </div>
                    <div class="row">
                        <div class="col-md-10 text-end">
                            <button class="btn btn-sm btn-primary" id="btnSetPreferedSave">Save</button>
                        </div>
                    </div>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div>
    <!--<div class="modal fade" id="inputpart" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bxs-modal">
                <div class="modal-header">
                    <h4 class="modal-title" id="mySmallModalLabel">Input Part Details</h4>
                    <button type="button" class="btn-close" id="inputpartCloseBtn"></button>
                </div>
                <div class="modal-body">
                    <div class="row">-->
                        <!-- ========================= -->
                        <!--<div class="col-md-3 mb-2"></div>
                        <div class="col-md-9 mb-2" id="searchbtn">
                            <button class="btn btn-sm btn-outline-purple">Select Input Part No *</button>
                        </div>-->
                        <!-- -------------------------------------  --> 
                        <!--<form method="post" id="MPRawMaterial" onsubmit="return false;">

                        </form>-->
                        <!-- ========================= -->
                    <!--</div>
                </div>
            </div>--><!-- /.modal-content -->
        <!--</div>--><!-- /.modal-dialog -->
    <!--</div>-->
<template id="MakeFromRMTemplate">
    <tr>
        <td>
            <input class="form-check-input mt-1" type="radio" name="OSRM" value="{num}">
        </td>
        <td data-key="MFDescription">{mFDescription}</td>
        <td data-key="masterPartNo">{inputWeight}</td>
        <td data-key="additionalInformation">{quantityPerInput}</td>
    </tr>
</template>


<div id="inputpart" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="standard-modalLabel">Input Part Details</h4>
                <button type="button" id="AddDeptClose" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="Post" id="MPRawMaterial" onsubmit="return false;" class="parsley-examples">
                    <div class="row">
                        <div class="col-md-3 mb-2"></div>
                        <div class="col-md-9 mb-2" id="searchbtn">
                            <button class="btn btn-sm btn-outline-purple">Select Input Part No *</button>
                        </div>
                        <!-- ----- -->
                        <label class="form-label col-md-3 mb-2"> Input Part No </label>
                        <div class="col-md-9 mb-2">
                            <input class="form-control form-control-sm" type="text" id="InputPartNo" name="InputPartNo" value="" hidden>
                            <textarea id="MFDescription" name="MFDescription" class="form-control form-control-sm" readonly></textarea>
                        </div>
                        <!-- -------------------------------------  -->
                        <label class="form-label col-md-3 mb-2"> Input Wt (Kgs) * </label>
                        <div class="col-md-4 mb-2">
                            <input class="form-control form-control-sm" type="text" id="InputWeight" asp-for="InputWeight" name="inputWeight" placeholder="enter here">
                        </div>
                        <div class="col-md-5 mb-2"></div>
                        <!-- -------------------------------------  -->
                        <label class="form-label col-md-3 mb-2"> Qnty of Finished Parts per Input Part * </label>
                        <div class="col-md-4 mb-2">
                            <input class="form-control form-control-sm" type="text" id="QuantityPerInput" asp-for="QuantityPerInput" name="quantityPerInput" placeholder="enter here">
                        </div>
                        <div class="col-md-5 mb-2"></div>
                        <!-- -------------------------------------  -->
                        <label class="form-label col-md-3 mb-2"> Scrap Generated (kgs) </label>
                        <div class="col-md-4 mb-2">
                            <input class="form-control form-control-sm" type="text" id="ScrapGenerated" asp-for="ScrapGenerated" name="scrapGenerated" placeholder="enter here">
                            <span id="Scrap-Error" style="color:red"></span>
                        </div>
                        <div class="col-md-5 mb-2"></div>
                        <!-- -------------------------------------  -->
                        <label class="form-label col-md-3 mb-2"> Yield Notes </label>
                        <div class="col-md-9 mb-2">
                            <textarea id="YieldNotes" asp-for="YieldNotes" class="form-control form-control-sm"> </textarea>
                        </div>
                        <!-- -------------------------------------  -->
                        <div class="col-md-12 mb-2">
                            <label class="form-check-label">Make as Preferred Input Matl</label>
                            <input class="form-check-input mt-1" id="PreferedRawMaterial" asp-for="PreferedRawMaterial" type="checkbox" title="If multiple Input Raw Material Options exist, select the Preferred Raw Material Checkbox if this is the preferred RM " data-plugin="tippy" data-tippy-placement="top">
                            <input type="text" hidden id="MPMakeFromId" name="MPMakeFromId" value="0" />
                            <input type="text" hidden id="MPPartId" name="MPPartId" value="0" />
                            <input type="text" hidden id="MPMKMadefrom" name="MPPartMadeFrom" value="0" />
                            <input type="text" hidden id="ManufPartId" name="ManufPartId" value="0" />
                        </div>
                        <!-- -------------------------------------  -->
                        <div class="col-md-12 mb-2 text-end" hidden>
                           @* <button class="btn btn-sm btn-primary" id="btnAddMPMakeFrom" onclick="AddAnotherRM()">Save</button>*@
                        </div>
                        <div class="col-md-12 mt-2 text-end">
                            @*<input type="text" name="DepartmentId" id="DepartmentId" value="0" hidden required />*@
                            <input type="submit" id="btnAddMPMakeFrom" class="btn btn-sm btn-primary" value="Save" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>