<div class="modal fade" id="rm-select" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myLargeModalLabel">Raw Material Selection</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- ===================== -->
                <div class="row mb-1">
                    <label class="form-label col-md-2 mb-2">Inhouse Part Number </label>
                    <div class="col-md-4 mb-2" title="Enter the Part No partially or fully to shortlist" data-plugin="tippy" data-tippy-placement="top">
                        <input class="form-control form-control-sm" type="text" placeholder="enter here">
                    </div>
                    <!-- =============== -->
                    <label class="form-label col-md-2 mb-2">Part Description </label>
                    <div class="col-md-4 mb-2" title="Enter hte Part Description partially or fully to shortlist" data-plugin="tippy" data-tippy-placement="top">
                        <textarea class="form-control form-control-sm">Enter......</textarea>
                    </div>
                    <!-- =============== -->
                    <label class="form-label col-md-2 mb-2"> Supplier</label>
                    <div class="col-md-4 mb-2" title="Select the Raw Material Supplier Company from the List" data-plugin="tippy" data-tippy-placement="top">
                        <select class="form-select form-select-sm">
                            <option value="">Select Supplier</option>
                            <option value="">XXXXXXX</option>
                            <option value="">XXXXX</option>
                        </select>
                    </div>
                    <!-- ------------------- -->
                    <label class="form-label col-md-2 mb-2">Supplier Part No</label>
                    <div class="col-md-4 mb-2" title="Enter the Supplier Part No partially or fully to shortlist" data-plugin="tippy" data-tippy-placement="top">
                        <input class="form-control form-control-sm" type="text" placeholder="enter here">
                    </div>
                    <!-- ------------------- -->
                    <label class="form-label col-md-2 mb-2"> RM Category</label>
                    <div class="col-md-4 mb-2" title="Select the Raw Material Category  from the  list" data-plugin="tippy" data-tippy-placement="top">
                        <select class="form-select form-select-sm">
                            <option value=""> Made to Print </option>
                            <option value=""> Standard Purchased RM </option>
                        </select>
                    </div>
                    <!-- ------------------- -->
                    <label class="form-label col-md-2 mb-2"> RM Type</label>
                    <div class="col-md-4 mb-2" title="Select the Raw Material Type from the list (Casting, Forging, Plate, Bar ..." data-plugin="tippy" data-tippy-placement="top">
                        <select class="form-select form-select-sm">
                            <option value="">Forging</option>
                            <option value="">Casting</option>
                            <option value="">Sheet</option>
                            <option value="">Bar Stock</option>
                        </select>
                    </div>
                    <!-- ------------------- -->
                    <label class="form-label col-md-2 mb-2"> Base Material</label>
                    <div class="col-md-4 mb-2" title="Select the Base Raw Material from the list (Steel, Brass ....)" data-plugin="tippy" data-tippy-placement="top">
                        <select class="form-select form-select-sm">
                            <option value="">XXXXX</option>
                            <option value="">XXXXXX</option>
                        </select>
                    </div>
                    <!-- ------------------- -->
                    <label class="form-label col-md-2 mb-1">Keyword / Desc</label>
                    <div class="col-md-4 mb-2" title="Enter any word that is related to the Raw Material to shortlist" data-plugin="tippy" data-tippy-placement="top">
                        <input class="form-control form-control-sm" type="text" placeholder="enter here">
                    </div>
                    <!-- =============== -->
                </div>
                <!-- ====================================== -->
                <div class="row mt-3">
                    <div class="table-responsive mt-1 table-he-180">
                        <table class="table table-sm table-bordered w-100 mb-3 tableFixHead">
                            <thead class="  table-info th-sti text-center">
                                <tr class="table-border-bottom">
                                    <th width="5%"></th>
                                    <th>Company</th>
                                    <th>Part No</th>
                                    <th>Description</th>
                                    <th>Notes</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input class="form-check-input mt-1" type="radio" name="gp-2a">
                                    </td>
                                    <td>XXXXXXXXX</td>
                                    <td>XXXXXXXXX</td>
                                    <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                                    <td> Manufactured Part without Routing</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-check-input mt-1" type="radio" name="gp-2a">
                                    </td>
                                    <td>XXXXXXXXX</td>
                                    <td>XXXXXXXXX</td>
                                    <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                                    <td> Manufactured Part without BOM</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-check-input mt-1" type="radio" name="gp-2a">
                                    </td>
                                    <td>XXXXXXXXX</td>
                                    <td>XXXXXXXXX</td>
                                    <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                                    <td> Manufactured Part without Routing</td>
                                </tr>
                                <tr>
                                    <td>
                                        <input class="form-check-input mt-1" type="radio" name="gp-2a">
                                    </td>
                                    <td>XXXXXXXXX</td>
                                    <td>XXXXXXXXX</td>
                                    <td>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</td>
                                    <td> Manufactured Part without Routing</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm">Select</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>