<ul class="nav nav-pills navtab-bg font-11 m-l-10 mt-n2">
    <li class="nav-item">
        <a href="#step-info" data-bs-toggle="tab" aria-expanded="false" class="nav-link active">
            <span class="d-inline-block d-sm-none">Step Info</span>
            <span class="d-none d-sm-inline-block">Step Info</span>
        </a>
    </li>
    <li class="nav-item">
        <a href="#bom" data-bs-toggle="tab" aria-expanded="false" class="nav-link">
            <span class="d-inline-block d-sm-none">Parts used in this Step</span>
            <span class="d-none d-sm-inline-block">Parts used in this Step</span>
        </a>
    </li>
</ul>
<div class="tab-content p-2">
    <div class="tab-pane show active" id="step-info">
        <div class="row">
        </div>
    </div>
</div>