<input value="B-BA" type="hidden" id="hdn-nav-menu" />
<div class="content">
    <div class="row" id="myRadioGroup">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <!-- ================= -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="padding: 10px;">Business Acquisition</h3>
                        </div>
                        <!-- =============================  -->
                        <div class="col-md-12">
                            <div class="row">
                                <!-- ================================ -->
                                <div class="col-md-2 col-sm-6  dott-bord-r" style="padding: 10px;">
                                    <!-- end row -->
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>Lead Entry</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>Enquiry Entry </h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>Costing</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>Quotation</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>Customer Interactions</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- end -->
                                    </div>
                                </div>
                                <!-- ================================ -->
                                <div class="col-md-3 col-sm-6 dott-bord-r" style="padding: 10px;">
                                    <!-- end row -->
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-light w-100 mb-2">
                                                <h6>xxxxxx</h6>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-light w-100 mb-2">
                                                <h6>xxxxxx</h6>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-light w-100 mb-2">
                                                <h6>xxxxxx</h6>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-light w-100 mb-2">
                                                <h6>xxxxxx</h6>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-light w-100 mb-2">
                                                <h6>xxxxxx</h6>
                                            </div>
                                        </div>
                                        <!-- end -->
                                    </div>
                                </div>
                                <!-- ================================ -->
                                <div class="col-md-2 col-sm-6 dott-bord-r" style="padding: 10px;">
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <a asp-controller="BusinessAquisition" asp-action="OrderEntry">
                                                <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                    <h6>Order Entry</h6>
                                                </div>
                                            </a>
                                        </div>
                                        <!-- ========================= -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>TDL</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- ========================= -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>MIS</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- ========================= -->
                                    </div>
                                    <!-- ================= -->
                                </div>
                                <!-- ================================ -->
                                <div class="col-md-3 col-sm-6 dott-bord-r" style="padding: 10px;">
                                    <!-- end row -->
                                    <div class="row mt-2">
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-light w-100 mb-2">
                                                <h6>xxxxxx</h6>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-light w-100 mb-2">
                                                <h6>xxxxxx</h6>
                                            </div>
                                        </div>
                                        <!-- end -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-light w-100 mb-2">
                                                <h6>xxxxxx</h6>
                                            </div>
                                        </div>
                                        <!-- end -->
                                    </div>
                                </div>
                                <!-- ================================ -->
                                <div class="col-md-2 col-sm-12" style="padding: 10px;">
                                    <div class="row">
                                        <div class="col-md-12" style="margin-top: 49px;">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>Price List Update</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- ========================= -->
                                        <div class="col-md-12">
                                            <div class="text-center btn btn-sm btn-outline-info w-100 mb-2">
                                                <a href="#">
                                                    <h6>Costing Master Update</h6>
                                                </a>
                                            </div>
                                        </div>
                                        <!-- ========================= -->
                                    </div>
                                    <!-- ================= -->
                                </div>
                                <!-- ================================ -->
                            </div>
                            <!-- end row -->
                        </div>
                        <!-- =============================  -->
                    </div>
                </div>
            </div>
            <!-- end card body -->
            <!-- ================= -->
        </div>
        <!-- end card -->
        <!-- ======================================================================== -->
    </div>
    <!-- end col -->
</div>