<div class="content">
    <div class="row">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <!-- ================= -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <h5 class="mb-4">Customer Orders</h5>
                        <!-- -----------------  -->
                        <div class="col-md-2 mb-2">
                            <label class="form-label">Customer</label>
                            <!--<select class="form-select form-select-sm" aria-label="form-select-sm" title=""
                                    data-plugin="tippy" data-tippy-placement="top">
                                <option value="">==========</option>
                            </select>-->
                            <input class="form-control form-control-sm" id="Search-BA-Customer" type="text" placeholder="Customer"
                                   title="" data-plugin="tippy" data-tippy-placement="top">
                        </div>
                        <!-- -----------------  -->
                        <div class="col-md-2 mb-2">
                            <label class="form-label">PO Number</label>
                            <input class="form-control form-control-sm" id="Search-BA-PONumber" type="text" placeholder="Enter PO Number"
                                   title="" data-plugin="tippy" data-tippy-placement="top">
                        </div>
                        <!-- -----------------  -->
                        <div class="col-md-2 mb-2">
                            <label class="form-label">From</label>
                            <input class="form-control form-control-sm" type="date"
                                   title="" data-plugin="tippy" data-tippy-placement="top">
                        </div>
                        <!-- ========================= -->
                        <div class="col-md-2 mb-2">
                            <label class="form-label">To</label>
                            <input class="form-control form-control-sm" type="date"
                                   title="" data-plugin="tippy" data-tippy-placement="top">
                        </div>
                        <!-- ======================== -->
                        <div class="col-md-2 mb-2">
                            <label class="form-label">Status</label>
                            <select class="form-select form-select-sm" aria-label="form-select-sm" title=""
                                    data-plugin="tippy" data-tippy-placement="top">
                                <option value="">==========</option>
                            </select>
                        </div>
                        <!-- -----------------  -->
                        <!-- ======================== -->
                    </div>
                    <!-- =========== -->
                    <div class="row mt-3">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="table-responsive table-he-250">
                                    <table id="CustomerOrders" class="table table-sm table-bordered w-100 text-center">
                                        <thead class="  table-info th-sti">
                                            <tr class="table-border-bottom">
                                                <th>Customer</th>
                                                <th>PO Number</th>
                                                <th>PO Date</th>
                                                <th>Line #</th>
                                                <th>Status</th>
                                                <th>Plan</th>
                                                <th>Matl</th>
                                                <th>WIP</th>
                                                <th>Hold</th>
                                                <th>Done</th>
                                                <th width="2%"></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- -------------  -->
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="dropdown float-center">
                                                        <a href="#"
                                                           class="dropdown-toggle arrow-none card-drop"
                                                           data-bs-toggle="dropdown"
                                                           aria-expanded="false">
                                                            <i class="mdi mdi-dots-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <!-- item-->
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#new-order-entry">Edit</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-resume">
                                                                Hold /
                                                                Resume
                                                            </a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-Delete">Delete</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-log">View PO Log</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View WO Status</a>
                                                            <!-- item-->
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- -------------  -->
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="dropdown float-center">
                                                        <a href="#"
                                                           class="dropdown-toggle arrow-none card-drop"
                                                           data-bs-toggle="dropdown"
                                                           aria-expanded="false">
                                                            <i class="mdi mdi-dots-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <!-- item-->
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#new-order-entry">Edit</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-hold">Hold / Resume</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-Delete">Delete</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-log">View PO Log</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View WO Status</a>
                                                            <!-- item-->
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- -------------  -->
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="dropdown float-center">
                                                        <a href="#"
                                                           class="dropdown-toggle arrow-none card-drop"
                                                           data-bs-toggle="dropdown"
                                                           aria-expanded="false">
                                                            <i class="mdi mdi-dots-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <!-- item-->
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#new-order-entry">Edit</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-hold">Hold / Resume</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-Delete">Delete</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-log">View PO Log</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View WO Status</a>
                                                            <!-- item-->
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- -------------  -->
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="dropdown float-center">
                                                        <a href="#"
                                                           class="dropdown-toggle arrow-none card-drop"
                                                           data-bs-toggle="dropdown"
                                                           aria-expanded="false">
                                                            <i class="mdi mdi-dots-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <!-- item-->
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#new-order-entry">Edit</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-hold">Hold / Resume</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-Delete">Delete</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-log">View PO Log</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View WO Status</a>
                                                            <!-- item-->
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- -------------  -->
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="dropdown float-center">
                                                        <a href="#"
                                                           class="dropdown-toggle arrow-none card-drop"
                                                           data-bs-toggle="dropdown"
                                                           aria-expanded="false">
                                                            <i class="mdi mdi-dots-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <!-- item-->
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#new-order-entry">Edit</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-hold">Hold / Resume</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-Delete">Delete</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-log">View PO Log</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View WO Status</a>
                                                            <!-- item-->
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- -------------  -->
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td>
                                                    <div class="dropdown float-center">
                                                        <a href="#"
                                                           class="dropdown-toggle arrow-none card-drop"
                                                           data-bs-toggle="dropdown"
                                                           aria-expanded="false">
                                                            <i class="mdi mdi-dots-vertical"></i>
                                                        </a>
                                                        <div class="dropdown-menu dropdown-menu-end">
                                                            <!-- item-->
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#new-order-entry">Edit</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-hold">Hold / Resume</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-Delete">Delete</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item" data-bs-toggle="modal"
                                                               data-bs-target="#po-log">View PO Log</a>
                                                            <a href="javascript:void(0);"
                                                               class="dropdown-item">View WO Status</a>
                                                            <!-- item-->
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                            <!-- -------------  -->
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <button onclick="SetOp('add');" class="btn btn-sm btn-primary" title="" data-plugin="tippy"
                                            data-tippy-placement="top" data-bs-toggle="modal"
                                            data-bs-target="#new-order-entry">
                                        New Order Entry
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- =========== -->
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
            <!-- ================= -->
        </div>
        <!-- end col -->
    </div>
    <!-- end row -->
</div>

<partial name="_BA_NewOrderEntry" />
<partial name="_BA_POHold" />
<partial name="_BA_POResume" />
<partial name="_BA_PODelete" />
<partial name="_BA_POLog" />

@section scripts {
    <script src="~/js/businessaquisition/customerorders.js"></script>
    <script src="~/js/ItemMaster/supplier.js"></script>
    <script>
        @*/*RoutingDetails = @Html.Raw(Json.Serialize(Model));
        console.log("***********");
        console.log(RoutingDetails);
        console.log("***********");*@
    </script>
}

<template id="CustomerOrdersRow">
    <tr>
        <td>{customerName}</td>
        <td>{poNumber}</td>
        <td>{poDateStr}</td>
        <td>{lineNo}</td>
        <td>{strStatus}</td>
        <td>{plan}</td>
        <td>{matl}</td>
        <td>{wip}</td>
        <td>{strHold}</td>
        <td>{strDone}</td>
        <td>
            <div class="dropdown float-center">
                <a href="#"
                   class="dropdown-toggle arrow-none card-drop"
                   data-bs-toggle="dropdown"
                   aria-expanded="false">
                    <i class="mdi mdi-dots-vertical"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <!--<a href="javascript:void(0);" class="dropdown-item">View</a>-->
                    <a href="javascript:void(0);"
                       class="dropdown-item" onclick="SetOp('edit');" data-bs-toggle="modal"
                       data-customerorderid ={customerOrderId} data-customerid={customerId}
                       data-comment='{comment}' data-ordertype={orderType}
                       data-ponumber='{poNumber}' data-podate='{poDateStr}'
                       data-customername='{customenName}'
                       data-directentrydetails='{directEntryDetails}'
                       data-bs-target="#new-order-entry">Edit</a>
                    <a href="javascript:void(0);"
                       class="dropdown-item" data-customerorderid={customerOrderId} data-salesorderid="0" data-salesorder="N" data-bs-toggle="modal"
                       data-bs-target="#po-hold">Hold / Resume</a>
                    <a href="javascript:void(0);" data-customerorderid={customerOrderId} data-salesorderid="0" data-salesorder="N"
                       class="dropdown-item"data-bs-toggle="modal"
                       data-bs-target="#po-Delete">Delete</a>
                    <a href="javascript:void(0);"
                       class="dropdown-item" data-customerorderid={customerOrderId} data-salesorderid=0 data-salesorder="N" data-bs-toggle="modal"
                       data-bs-target="#po-log">View PO Log</a>
                    <a href="javascript:void(0);" onclick="alert('todo...');"
                       class="dropdown-item">View WO Status</a>
                    <!-- item-->
                </div>
            </div>
        </td>
    </tr>


</template>