@{
    ViewData["Title"] = "Item Master";
}
<input value="M-IM" type="hidden" id="hdn-nav-menu" />
<div class="content">
    <div class="row" id="myRadioGroup">
        <div class="col-xl-12 col-md-12 col-sm-12 col-xs-12">
            <!-- ================= -->
            <div class="card">
                <div class="card-body">
                    <table class="w-100 mb-2">
                        <tbody>
                        <td>
                            <h5>View / Edit Item Master</h5>
                        </td>
                        <td class="text-end">
                            <a asp-action="Index" asp-controller="Masters"><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button></a>
                        </td>
                        </tbody>
                    </table>
                    <div class="row mb-3">
                        <div class="col-md-8">
                            <table class="w-75">
                                <tbody title="Select the category of the Part" data-plugin="tippy" data-tippy-placement="top">
                                <td>
                                    <label class="form-check-label" for="cars">Manufactured Part </label>
                                    <input class="form-check-input mt-1" type="radio" id="mp-mp" name="MasterPart" value="1" checked>
                                </td>
                                <td>
                                    <label class="form-check-label" for="cars">Assembly </label>
                                    <input class="form-check-input mt-1" type="radio" id="mp-as" name="MasterPart" value="2">
                                </td>
                                <td>
                                    <label class="form-check-label" for="cars">BOF </label>
                                    <input class="form-check-input mt-1" type="radio" id="mp-bf" name="MasterPart" value="3">
                                </td>
                                <td>
                                    <label class="form-check-label" for="cars">Raw Material </label>
                                    <input class="form-check-input mt-1" type="radio" id="mp-rm" name="MasterPart" value="4">
                                </td>
                                </tbody>
                            </table>
                        </div>
                        <!-- end col -->
                        <label class="form-label col-md-1 mb-2">Status </label>
                        <div class="col-md-3 mb-2">
                            <select class="form-select form-select-sm" id="Status" name="Status" asp-items="ViewBag.Statuses" required>
                            </select>
                        </div>
                        <!-- =============== -->
                        <!-- end col -->
                    </div>
                    <!-- ---- end row ----  -->
                    <div class="row mt-2">
                        <label class="form-label col-md-2 mb-2">Company</label>
                        <div class="col-md-4 mb-2">
                            <!--<select class="form-select form-select-sm" title="Select the Company whose Parts you wish to see. If own Company's Parts to be viewed ... select Self Company" data-plugin="tippy" data-tippy-placement="top">
                                <option value="">Select Company Name</option>
                                <option value="">Dakshith</option>
                                <option value="">Srikanth</option>
                                <option value="">Raksitha</option>
                                <option value="">Srinath</option>
                            </select>-->
                            <input class="form-control form-control-sm" type="text" id="master_co" name="master_co" placeholder="enter here">
                        </div>
                        <!-- -------------------------------------  -->
                        <div class="col-md-2">
                            <button class="btn btn-sm btn-outline-purple w-100 display-none" data-bs-toggle="modal" data-bs-target="#tree">Group</button>
                        </div>
                        <!-- ---------------  -->
                        <div class="col-md-4">
                            <input class="form-control form-control-sm display-none" type="text" id="example-time" name="time" value="CNMG 120408">
                        </div>
                        <!-- ================= -->
                        <!-- -------------------------------------  -->
                    </div>
                    <!-- ===================== -->
                    <div class="row mb-1">
                        <label class="form-label col-md-2 mb-2">Part Number </label>
                        <div class="col-md-4 mb-2">
                            <!--<select class="form-select form-select-sm" title="Select Part No from Drop Down" data-plugin="tippy" data-tippy-placement="top">
                                <option value="">Select Part No</option>
                                <option value="">XXXXXXXX</option>
                                <option value="">XXXXXXXXX</option>
                            </select>-->
                            <input class="form-control form-control-sm" type="text" id="master_partno" name="master_partno" placeholder="enter here">
                        </div>
                        <!-- =============== -->
                        <label class="form-label col-md-2 mb-2">Part Description </label>
                        <div class="col-md-4 mb-2">
                            <textarea name="master_description" form="usrform" id="master_description" class="form-control form-control-sm" title="Enter Part Description - full or partial to shortlist Part Nos" data-plugin="tippy" data-tippy-placement="top"></textarea>
                        </div>
                        <!-- =============== -->
                        <label class="form-label col-md-2 mb-1">Keyword / Description</label>
                        <div class="col-md-10 mb-2">
                            <input class="form-control form-control-sm" type="text" id="example-time" name="time" placeholder="enter here">
                        </div>
                        <!-- =============== -->
                    </div>
                    <!-- ---- end row ----  -->
                    <!-- ===== start-1st ====== -->
                    <div class="row desc" id="Cars2" style="display:none">
                        <div class="col-md-3">
                            <table class="w-100">
                                <tbody>
                                <td title="Check the Box to see Manufactured Part Nos without Routing" data-plugin="tippy" data-tippy-placement="top">
                                    <label class="form-check-label" for="gp-4">Show Part Numbers Without Routing</label>
                                    <input class="form-check-input mt-1" type="checkbox" name="gp-4">
                                </td>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- ===== end-1st ====== -->
                    <!-- ===== start-2nd ====== -->
                    <div class="row desc" id="Cars3" style="display:none">
                        <div class="col-md-3" title="Check the Box to see Manufactured Part Nos without Routing" data-plugin="tippy" data-tippy-placement="top">
                            <label class="form-check-label" for="gp-5">Show Part Numbers Without Routing</label>
                            <input class="form-check-input mt-1" type="checkbox" name="gp-5">
                        </div>
                        <div class="col-md-3 text-end" title="Check the Box to see Assembly Part Nos without BOM" data-plugin="tippy" data-tippy-placement="top">
                            <label class="form-check-label" for="gp-5">Show Part Numbers Without BOM</label>
                            <input class="form-check-input mt-1" type="checkbox" name="gp-5">
                        </div>
                    </div>
                    <!-- ===== end-2nd ====== -->
                    <!-- ===== start-3rd ====== -->
                    <div class="row desc" id="Cars4" style="display:none">
                        <label class="form-label col-md-2 mb-2">BOF Type</label>
                        <div class="col-md-4 mb-2" title="Select BOF Type from Drop Down" data-plugin="tippy" data-tippy-placement="top">
                            <select class="form-select form-select-sm">
                                <option value="">Standard</option>
                                <option value="">Catalog</option>
                                <option value=""> Made to Print </option>
                            </select>
                        </div>
                        <div class="col-md-6"></div>
                        <!-- ----------------  -->
                        <label class="form-label col-md-2 mb-2">Supplier</label>
                        <div class="col-md-4 mb-2" title="Select Supplier Company from Drop Down" data-plugin="tippy" data-tippy-placement="top">
                            <select class="form-select form-select-sm">
                                <option value="">Select Supplier</option>
                                <option value="">XXXXXXX</option>
                                <option value="">XXXXX</option>
                            </select>
                        </div>
                        <!-- ----------------  -->
                        <label class="form-label col-md-2 mb-2">Supplier Part No</label>
                        <div class="col-md-4 mb-2" title="Enter Supplier Part No" data-plugin="tippy" data-tippy-placement="top">
                            <input class="form-control form-control-sm" type="text" id="example-time" name="time" placeholder="enter here">
                        </div>
                        <!-- ------------------- -->
                    </div>
                    <!-- ===== end-3rd ====== -->
                    <!-- ===== start-4th ====== -->
                    <div class="row desc" id="Cars5" style="display:none">
                        <!-- ------------------- -->
                        <label class="form-label col-md-2 mb-2"> RM Category</label>
                        <div class="col-md-4 mb-2" title="Select Raw Material (RM) Category from Drop Down (Standard RM, Made to Print ...)" data-plugin="tippy" data-tippy-placement="top">
                            <select class="form-select form-select-sm">
                                <option value=""> Made to Print </option>
                                <option value=""> Standard Purchased RM </option>
                            </select>
                        </div>
                        <!-- ------------------- -->
                        <label class="form-label col-md-2 mb-2"> RM Type</label>
                        <div class="col-md-4 mb-2" title="Select Raw Material Type from Drop Down (Casting, Forging ...)" data-plugin="tippy" data-tippy-placement="top">
                            <select class="form-select form-select-sm">
                                <option value="">Forging</option>
                                <option value="">Casting</option>
                                <option value="">Sheet</option>
                                <option value="">Bar Stock</option>
                            </select>
                        </div>
                        <!-- ------------------- -->
                        <label class="form-label col-md-2 mb-2"> Supplier</label>
                        <div class="col-md-4 mb-2" title="Select Supplier Company from Drop Down" data-plugin="tippy" data-tippy-placement="top">
                            <select class="form-select form-select-sm">
                                <option value="">Select Supplier</option>
                                <option value="">XXXXXXX</option>
                                <option value="">XXXXX</option>
                            </select>
                        </div>
                        <!-- ------------------- -->
                        <label class="form-label col-md-2 mb-2">Supplier Part No</label>
                        <div class="col-md-4 mb-2" title="Enter Supplier Part No" data-plugin="tippy" data-tippy-placement="top">
                            <input class="form-control form-control-sm" type="text" id="example-time" name="time" placeholder="enter here">
                        </div>
                        <!-- ------------------- -->
                        <label class="form-label col-md-2 mb-2"> Base Material</label>
                        <div class="col-md-4 mb-2" title="Select Base Material from Drop Down (Steel, Aluminium, Brass ...)" data-plugin="tippy" data-tippy-placement="top">
                            <select class="form-select form-select-sm">
                                <option value="">XXXXX</option>
                                <option value="">XXXXXX</option>
                            </select>
                        </div>
                        <!-- ------------------- -->
                    </div>
                    <!-- ===== end-4th ====== -->
                </div>
            </div>
            <!-- end card body -->
            <!-- ============================= -->
            <!-- ============================= -->
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="table-responsive mt-1 table-he-180">
                            <table id="mptable" class="table table-sm table-bordered w-100 mb-3 tableFixHead">
                                <thead class="  table-info th-sti text-center">
                                    <tr class="table-border-bottom">
                                        <th>Company</th>
                                        <th>Part No</th>
                                        <th>Description</th>
                                        <th>Notes</th>
                                        <th hidden>Status</th>
                                        <th width="5%"></th>
                                    </tr>
                                </thead>
                                <tbody>

                                </tbody>
                                <!--TODO-->
                            </table>
                        </div>
                        <!-- =========================== -->
                    </div>
                </div>
                <!-- end card body -->
            </div>
            <!-- end card -->
            <!-- ================= -->
        </div>
        <!-- end card -->
        <!-- ======================================================================== -->
    </div>
    <!-- end col -->
</div>
@section scripts {
    <script src="~/js/addfunctions.js"></script>
    <script src="~/js/ItemMaster/supplier.js"></script>
    <script src="~/js/ItemMaster/rmselects.js"></script>
    <script src="~/js/contact-model.js"></script>
    <script src="~/js/ItemMaster/RawMaterial-model.js"></script>
    <script src="~/js/ItemMaster/masterdetails.js"></script>
    <script src="~/js/contacts.js"></script>
}


<template id="MasterDetaiTemplate">
    <tr>
        <td data-key="Company">{company}</td>
        <td data-key="PartNo">{partNo}</td>
        <td data-key="Description">{description}</td>
        <td data-key="Notes">{notes}</td>
        <td data-key="Status" hidden>{status}</td>
        <td>
            <div class="dropdown float-center">
                <a href="#" class="dropdown-toggle arrow-none card-drop" data-bs-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-vertical"></i></a>
                <div class="dropdown-menu dropdown-menu-end">
                    <!-- item-->
                    <a href="/masters/editpart?partId={partId}&partType={partType}">Edit Part Details</a>
                </div>
            </div>
        </td>
    </tr>
</template>