@{
    ViewData["Title"] = "Item Master - Raw Material";
}
@model CWB.App.Models.ItemMaster.RawMaterialDetailVM
<input value="M-IM" type="hidden" id="hdn-nav-menu" />
<!-- Left Sidebar End -->
<!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->
<div class="content">
</div>
  
<partial name="_ReferenceDocumentUpload" />
@section scripts {
<script src="~/js/ItemMaster/RawMaterial-model.js"></script>
}

    